<h1>Debug#index</h1>
<p>Find me in app/views/debug/index.html.erb</p>
<hr>
<h1>PlayerGames columns</h1>
<p><%= @player_games.column_names%></p>
<p>Currently <%= @player_games.count%> PlayerGame rows</p>
<p></p>
<h1>Players columns</h1>
<p><%= @players.column_names%></p>
<p>Currently <%= @players.count%> Player rows</p>
<p></p>
<h1>Lineups columns</h1>
<p><%= @lineups.column_names%></p>
<p>Currently <%= @lineups.count%> Player rows</p>
<p></p>
<h1>PlayerPools columns</h1>
<p><%= @player_pools.column_names%></p>
<p>Currently <%= @player_pools.count%> Player rows</p>
<p></p>
<p></p>
<p></p>
<p></p>
<hr>
<p></p>
<p></p>
<p></p>
<p></p>
<hr>
<p></p>
<p></p>


<table>
	<thead>
		<th>
		</th>
	</thead>
		<tr>
			<td>
			</td>
		</tr>
</table>

<p></p>
<p></p>
<hr>

<p></p>
<p></p>
<p></p>
<p></p>
<hr>
<br>
<br>
<br>
<br>
<hr>
<br>
<br>
<%= console %>